.login-container {
  display: flex;
  justify-content: center;

  .login-card {
    width: 400px;

    .login-form {
      text-align: center;
    }

    .avatar {
      height: 150px;
      border-radius: 50%;
      margin-bottom: 30px;
    }

    .mat-form-field-infix {
      padding: 0;
    }

    .full-width {
      width: 100%;
    }

    .err-msg {
      font-size: 14px;
    }

    .create-account {
      margin-top: 15px;
    }

  }
}
