.address-card {
  .address-block {
    display: flex;
    justify-content: space-between;
  }

  .address-details {
    display: flex;
    padding: 5px;
    font-size: 14px;

    span {
      margin-left: 10px;
    }

    .mat-icon {
      font-size: 18px;
    }
  }

  .action-block {
    .button-group {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      margin: 5px auto;

      button {
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }
}
