.search-block {
  width: 500px;
}

.drop-menu {
  width: 230px;

  mat-icon {
    color: #2874f0;
  }
}

.navbar {
  background: #2874f0;
  color: #fff;

  .nav-link,
  .nav-btn {
    color: #fff;
    font-weight: bold;
  }

  .navbar-brand {
    color: #fff;
    font-weight: bold;
  }
}

.cart-size{
  font-size: 20px;
}
::ng-deep .menu-drop-panel {
  margin-top: 10px !important;
}